
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
     <title>VWL Project</title>
</head>
<body>
     Welcome to VWL project!!!!
     Apologize for all troubles!!
     We are build the Project VWL,
     Version 0.0.1 aviable on October!! :)
     <form action="/users/user" method="post">
               Enter your name:
               <input type="text" name="userName" placeholder="..." />
               <br>
               Enter your Last Name:
               <input type="text" name="userLastName" placeholder="..." />
               <br>
               Enter your e-mail:
               <input type="text" name="userEmail" placeholder="..." />
               <br>
               Enter your companu:
               <input type="text" name="userCompany" placeholder="..." />
               <br>
               Enter your Password:
               <input type="text" name="userPassword" placeholder="..." />
               <br>
               <button type="submit">Submit</button>
     </form>
     <footer>
      By Mauricio Duque
    </footer>
</body>
</html>               